@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
* {
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: #fff;
  background-color: #000915;
  background-image: url(./img/riddles_bg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 800px;
  background-position: 0px 3180px;
}
.center {
  padding-left: calc(50vw - 600px);
  padding-right: calc(50vw - 600px);
}
.background {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000915 100%), url(/img/header_bg.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  height: 1024px;
  padding-top: 200px;
}
.header__title {
  width: 660px;
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 19px;
}
.header__text {
  width: 456px;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.header__link {
  margin-top: 54px;
}
.header__lets {
  color: #FFF;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 13px 74px;
  border-radius: 30px;
  background: #9C0332;
  transition: 0.3s;
}
.header__lets:hover {
  background: #EB443F;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
  height: 556px;
}
.card {
  position: relative;
  width: 378px;
  height: 300px;
  border-radius: 17px;
  transition: 0.07s;
}
.card:hover {
  outline: 3px solid #44D2FF;
}
.card:first-child {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/card_1.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card:nth-child(2) {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/card_2.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card:last-child {
  background: linear-gradient(180deg, rgba(39, 1, 15, 0.00) 0%, #001944 100%), url(./img/card_3.jpg), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card__text {
  position: absolute;
  top: 236px;
  left: 32px;
  font-family: 'Montserrat';
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
.games {
  padding-top: 227px;
}
.months {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 478px;
}
.desc {
  width: 584px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.desc__title {
  font-size: 48px;
  font-weight: 700;
}
.desc__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
}
.desc__button {
  font-family: Montserrat;
  font-size: 18px;
  color: #fff;
  padding: 13px 88px;
  border-radius: 30px;
  background-color: #9C0332;
  transition: 0.3s;
}
.desc__button_lets {
  padding: 13px 76px;
}
.desc__button:hover {
  background: #EB443F;
}
.remember {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.riddles {
  margin-top: 234px;
  padding-top: 276px;
  padding-bottom: 288px;
}

.riddles .desc .flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 1200px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 33px 0px;
  border-top: 1px solid #b8d4ff;
}
.footer__title {
  font-size: 12px;
  font-weight: 400;
}
@media (max-width: 375px) {
  body {
    background-image: url(./img/riddles_bg_mobile.jpg);
    background-size: 100vw 800px;
    background-position: 0px 3255px;
  }
  .center {
    padding-left: calc(50vw - 171px);
    padding-right: calc(50vw - 171px);
  }
  .background {
    height: 735px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000915 100%), url(/img/header_bg__mobile.jpg), lightgray 50%;
  }
  .header {
    height: 735px;
    padding-top: 238px;
  }
  .header__title {
    width: 343px;
    font-size: 32px;
    text-align: center;
    padding-bottom: 32px;
  }
  .header__text {
    width: 343px;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .header__link {
    margin-top: 44px;
  }
  .header__lets {
    margin-left: calc(50vw - 117px - 16px);
    margin-right: calc(50vw - 117px - 16px);
  }
  .menu {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 32px;
    height: 1221px;
  }
  .card {
    width: 342px;
  }
  .card__text {
    left: 16px;
  }
  .games {
    padding-top: 51px;
    padding-bottom: 478px;
  }
  .months {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 64px;
    margin-bottom: 136px;
  }
  .desc {
    width: 343px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .desc__title {
    text-align: center;
    font-size: 32px;
  }
  .desc__text {
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .desc__button {
    font-family: Montserrat;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 13px 82px;
    border-radius: 30px;
    background-color: #9C0332;
    transition: 0.3s;
  }
  .desc__button:hover {
    background: #EB443F;
  }
  .paint__svg {
    width: 343px;
    height: 236px;
  }

  .remember {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
  }
  
  .riddles {
    margin-top: 130px;
    padding: 0;
  }
  
  .riddles .desc .flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 325px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    padding: 33px 0px;
    border-top: 1px solid #b8d4ff;
  }
  .footer__title {
    font-size: 12px;
    font-weight: 400;
  }
}